/* particles css */
/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3218b6;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

.introduction {
  background-color: #3218b6;
  height: 200px;
  width: 100%;
  /* border: 2px solid red; */
  display: block;
  margin-top: -10%;
  z-index: 2;
}
.heading {
  position: absolute;
  top: 20%;
  z-index: 4;
  width: 100%;
}

.heading h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  display: block;
  margin-left: 3%;
}

.heading .inner {
  display: block;
  margin-top: 3%;
  color: #13e8e9;
}

.nav-link:nth-child(1) {
  /* background-cred; */
  border-radius: 20px;
  background-color: transparent;
  color: black;
  transition: 0.3s all;
}

.nav-link:nth-child(1):hover {
  box-shadow: 1px 1px 1px 1px black;
  background-color: white;
}
.nav-link:nth-child(2) {
  border-radius: 20px;
  background-color: transparent;
  color: black;
  transition: 0.3s all;
}

.nav-link:nth-child(2):hover {
  box-shadow: 1px 1px 1px 1px black;
  background-color: white;
}
.nav-link:nth-child(3) {
  border-radius: 20px;
  background-color: transparent;
  color: black;
  transition: 0.3s all;
}
bfghfghfghfghfgh .nav-link:nth-child(3):hover {
  box-shadow: 1px 1px 1px 1px black;
  background-color: white;
}

.nav-link:nth-child(4) {
  border-radius: 20px;
  background-color: transparent;
  color: black;
  transition: 0.3s all;
}

.nav-link:nth-child(4):hover {
  box-shadow: 1px 1px 1px 1px black;
  background-color: white;
}

.nav-link {
  color: white;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 3px;
  transition: 0.3s all;
}
.navbar {
  background-color: var(--bs-blue);
  width: 100%;
  height: 60px;
}

.nav-link:hover {
  color: black;

  border-radius: 20px;
  background-color: white;
}

.navbar-nav {
  display: flex;
  gap: 1.5rem;
}
